@CHARSET "UTF-8";
.frame{
	margin: 100px auto;
	width:800px;
	height:500px;
}
.label{
	color:#616161;
}
.title{
	font-size:20px;
	font-weight:bold;
}

#quantity{
	width:80px;
}
#confirm {
	margin-left:40px;
	font-size:14px;
	display: inline-block;
	height: 20px;
	line-height: 18px;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	border-radius: 13px;
	padding: 0px 9px 0 8px;
	border-color: #c0c0c0;
	color: #333333;
}
#confirm:hover{

	background:#ff8040;
	color: #fff;
	cursor:pointer;
}